@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Crimson+Pro:ital@1&display=swap');
/* font-family: 'Bree Serif', serif;
font-family: 'Crimson Pro', serif; */

img {
  max-width: 100%;
}

/* HEADER */
.main-nav{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
  
}
.main-nav li{
  margin-left: 36px;
}
.main-nav a{
  color:black;
  font-family: 'Bree Serif';
}
.main-nav a:hover{
  color: #0bd;
}
.page-header{
  display: flex;
  justify-content: space-between;
}
.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* Product Detail */
#account{
  background-image: url(../img/pagetitle.jpg);
  height: 270px;
  margin: bottom 40px;
}
#account .page-title{
  text-align: center;
  color: white;
  font-size: 50px;
}


h1{
  font-family: 'Bree Serif',sans-serif;
  text-transform: uppercase;
  
  
}

h2,
p{
  font-family: 'Crimson Pro',sans-serif;
  
}